.my-panel{
  display:inline-block;
  width: 300px;
  padding: 10px;
}

.dropList{
  width:100%
}

header{
  background-image: url("/images/cocktails.jpg");
  background-size: cover;
  height: 300px;
  text-align: center;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h1{
  font-size: 5em;
  padding-top: 3em;
}

h2{
  color: white;
}

@media(max-width: 500px){
  h1{
    padding-top: 1em;
  }
}

@media(max-width: 1200px){
  .my-panel{
    display: block;
    margin: 0 auto;
  }
}

body{
  background-color: #242424;
}
label{
  color: #006dcc;
  font-size;
}

#ingredients{
  color: white;
}

#recipes{
  background-color: #3c3c3c;
  border-radius: 10px;
  margin-top: 2em;
  margin-left: 3px;
  margin-right: 3px;
  padding: 1em;
  border: 1px solid black;

}

#recipe-section{
  border-left: 2px solid black;
}
